# Other
.DS_Store
*.sql
.idea
.history
.cache

# builds
dist
dist-ssr
build
lib

# Logs
logs
*.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity
.yarn
.pnp.js

# dotenv environment variables file
.env*
*.local

# Ignored files
!.env.example

_original
